body {
    margin: 0 auto;
    font: 14px/1.3em Arial, Helvetica, sans-serif;
    color: #3c464b;
    background: #ffffff;
}
img {border-style:none;}
a {
    text-decoration:none;
}
a:hover {text-decoration:underline;}
input, textarea, select {
    font: 14px/1.3 Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #5d5d5d;
    padding: 0;
    margin: 0;
}
form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
*:focus {outline: none;}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
table {
    border-collapse: collapse;
    border: none;
}
td, th {padding: 0;}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: block;}
#wrapper {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 769px)    {
/* Start Wrapper */
    #wrapper {
        min-width: 1000px;
        max-width: 1200px;
    }
    .container {
        width: 81%;
        margin: 0 auto;
    }
/* Start Header*/
    .top-panel {
        background: #000000;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 13px;
        height: 18px;
    }
    .top-panel p {
        font-size: 11px;
        float: left;
        font-family: Arial, sans-serif;
        margin: -7px 0 0 0;
    }
    .top-panel p span{
        font-size: 12px;
        padding: 0 3px;
    }
    .top-panel ul li {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        border-right: 1px solid #444444;
        padding:10px 0 7px 0;
    }
    .top-panel ul {
        float: right;
        border-left: 1px solid #444444;
        margin: -17px 1px 0 0;

    }
    .top-panel .container ul li a {
        color: #ffffff;
        font-size: 11px;
        text-decoration: none;
        display: block;
        vertical-align: top;
    }
    .top-panel .currency a::after{
        content: ' ';
        background-image: url("../images/grey-arrow-down.png");
        width: 7px;
        height: 4px;
        float: right;
        margin: 7px 0 0 10px;
    }
    .top-panel img {
        padding:0 10px 0 9px;
        vertical-align: text-bottom;
    }
    .currency a{
        padding: 0px 14px 0 15px;
    }
    .account a{
        padding: 0 15px 0px 15px;
    }
    .account img{
        padding: 0px 5px 0 0px;
    }
    #header h1 {
        text-indent: -9999px;
        overflow: hidden;
        float: left;
        display: block;
    }
    .logo {
        background: url("../images/logo.png") 0 0 no-repeat;
        margin: 10px 0;
        display: block;
        width: 120px;
        height: 28px;
    }
    .logo a {
        display: block;
        height: 100%;
    }
    nav {
        height: 45px;
        width: 100%;
        padding: 30px 0;
    }
    nav .menu{
        float: right;
        display: inline-block;
    }
    nav .menu a{
        display: none;
    }
    nav .menu ul {
        text-align: left;
        display: inline;
        margin: 0;
    }
    nav .menu ul li {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #000000;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding:15px 27px 15px 5px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    nav .menu>ul>li::before{
        content: ' ';
        background-image: url("../images/black-arrow-down.png");
        width: 7px;
        height: 4px;
        float: right;
        margin: 8px 0 0 4px;
    }
    nav .menu ul li:hover {
            color: #999999;
    }
    nav .menu ul li ul {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 150px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        z-index: 5;
    }
    nav .menu ul li ul li {
        background: #cccccc;
        display: block;
        color: #000000;
        padding: 10px 20px;
    }
    nav .menu ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    nav table {
        float: right;
        margin: -10px 1px 0 0px;
    }
    nav tr {
        width: 212px;
        height: 33px;
        border: 1px solid #d6d6d6;
    }
    .cart input {
        padding: 0 59px 0 7px;
        border: 0;
        height: 30px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        background: url("../images/grey-arrow-down.png") 95% 50% no-repeat;
    }
    .basket {
        text-align: right;
        padding: 0 10px;
        background-color: #fafafa;
        background-image: url("../images/mini-bag.png");
        background-position: 9px 6px;
        background-repeat: no-repeat;
    }
    .basket a {
        color: #d6d6d6;
    }
    .basket a:hover {
        color: #d6d6d6;
        text-decoration: none;
    }
/* Finish Header*/
/* Start Main*/
/*Slider*/
    #slider input {
        display: none;
    }
    #slide1:checked ~ #slides .inner { margin-left:0; }
    #slide2:checked ~ #slides .inner { margin-left:-100%; }
    #slide3:checked ~ #slides .inner { margin-left:-200%; }
    #slide4:checked ~ #slides .inner { margin-left:-300%; }
    #slide5:checked ~ #slides .inner { margin-left:-400%; }

    #overflow {
        width: 100%;
        overflow: hidden;
    }
    article img {
        width: 100%;
    }
    #slides .inner {
        width: 500%;
        line-height: 0;
    }
    #slides article {
        width: 20%;
        float: left;
    }
/* Slider */
/* Control Setup */
    #controls {
        margin: -25% 0 0 0;
        width: 100%;
        height: 50px;
    }
    #controls label {
        display: none;
        width: 50px;
        height: 50px;
        opacity: 0.3;
    }
    #active {
        margin: 23% 0 30px 0;
        text-align: center;
    }
    #active label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #867a76;
        margin: 6px 8px 0 8px;
    }
    #active label:hover {
        background: #ccc;
        border-color: #777 !important;
    }
    #controls label:hover {
        opacity: 0.8;
    }
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(1) {
        width: 30px;
        height: 117px;
        background-image: url('../images/arr-right.png');
        background-color: #fefefd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: right;
        display: block;
        margin-top: 22px;
    }
    #slide1:checked ~ #controls label:nth-child(5),
    #slide2:checked ~ #controls label:nth-child(1),
    #slide3:checked ~ #controls label:nth-child(2),
    #slide4:checked ~ #controls label:nth-child(3),
    #slide5:checked ~ #controls label:nth-child(4) {
        width: 30px;
        height: 117px;
        background-image: url('../images/arr-left.png');
        background-color: #fefefd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: left;
        display: block;
        margin-top: 22px;
    }
    #slide1:checked ~ #active label:nth-child(1),
    #slide2:checked ~ #active label:nth-child(2),
    #slide3:checked ~ #active label:nth-child(3),
    #slide4:checked ~ #active label:nth-child(4),
    #slide5:checked ~ #active label:nth-child(5) {
        background: #fd926d;
        border-color: #fd926d !important;
    }
/* Slider */
    #slides {
        margin: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 0;
        background: #fff;
    }
/* Animation */
    #slides .inner {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
        -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    }
    #slider {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    #controls label{
        -webkit-transform: translateZ(0);
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
    }
    #slide1:checked ~ #slides article:nth-child(1) .info,
    #slide2:checked ~ #slides article:nth-child(2) .info,
    #slide3:checked ~ #slides article:nth-child(3) .info,
    #slide4:checked ~ #slides article:nth-child(4) .info,
    #slide5:checked ~ #slides article:nth-child(5) .info {
        opacity: 1;
        -webkit-transition: all 1s ease-out 0.6s;
        -moz-transition: all 1s ease-out 0.6s;
        -o-transition: all 1s ease-out 0.6s;
        transition: all 1s ease-out 0.6s;
    }
    .info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
/*Finish slider*/
/* Start Content*/
    .content-panel {
        width: 100%;
        height: 55px;
        background: #ededed;
    }
    .search {
        display: inline-block;
        margin: 12px 0;
        font-family: Arial, sans-serif;
    }
    .search input {
        width: 123px;
        height: 27px;
        font-size: 0.857em;
        padding-left: 10px;
        font-style: italic;
        border:none 0px #000000;
    }
    .search label {
        color: #6b6b6b;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        padding-right: 2px;
    }
    .search a {
        display: inline-block;
        background-image: url("../images/search-button.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fd926d;
        width: 28px;
        height: 25px;
        text-indent: -9999px;
        border-bottom: 3px solid #dd6b44;
        vertical-align: middle;
    }
    .search a:hover {
        background-color: #dd6b44;
    }
    .content-panel .social {
        float: right;

    }
    .content-panel .social li {
        display: inline-block;
    }
    .content-panel .social li:first-child {
        padding-right: 15px;
    }
    .content-panel .social li a {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 55px;
        height: 56px;
        text-indent: -9999px;
    }
    .facebook {
        background-image: url("../images/facebook-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f7f7f7;
        margin: 0;
    }
    .twitter {
        background-image: url("../images/twitter-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #ededed;
    }
    .pinterest {
        background-image: url("../images/pinterest-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f7f7f7;
    }
    .content-panel .social li a:hover {
        background-color: #ffffff;
    }
    .gallery {
        margin: 42px 0;
        width: 100%;
    }
    .gallery > div {
        display: inline-block;
        margin: 0 0;
    }
    .gallery-01 {
        width: 50%;
        float: left;
    }

    .gallery-01 a {
        margin: 0;
        padding: 0;
    }
    .gallery-01 a img {
        width: 100%;
        height: auto;
    }
    .gallery-02 {
        width: 50%;
        float: left;
    }
    .gallery-02 a {
        margin: 0;
        padding: 0;
    }
    .gallery-02 a img {
        width: 100%;
        height: auto;
    }
    .gallery-03 {
        width: 25%;
        float: left;
    }
    .gallery-03 a {
        margin: 0;
        padding: 0;
    }
    .gallery-03 a img {
        width: 100%;
        height: auto;
        margin-top: -4px;
    }
    .gallery-04 {
        width: 25%;
        float: left;
    }
    .gallery-04 a {
        margin: 0;
        padding: 0;
    }
    .gallery-04 a img {
        width: 100%;
        height: auto;
        margin-top: -4px;
    }
    .content-panel .roulette {
        float: left;
        margin-top: 60px;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .content-panel .roulette li {
        display: inline-block;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .content-panel .roulette li a {
        padding:17px 12px 16px 21px;
        -moz-padding-bottom:15px;
        -webkit-padding-bottom: 15px;
        background-color: #ffffff;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-size: 1.071em;
        color: #555555;
    }
    .content-panel .roulette li a:hover {
        background: #fd926d;
        -moz-padding-bottom:15px;
        -webkit-padding-bottom: 15px;
        color: #ffffff;
    }
    .content-panel .scroll {
        float: right;
        display: block;
        margin-top: 60px;

    }
   .content-panel .scroll li {
        display: inline-block;
    }
    .content-panel .scroll li a {
        padding: 16px 24px;
        moz-padding-after: 16px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        background-color: #f2f2f2;
    }
    .content-panel .scroll li .left {
        background-image: url("../images/scroll-arrow-left-sprite.png");
        background-position: 5px;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .right {
        background-image: url("../images/scroll-arrow-right-sprite.png");
        background-position: 10px;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .right:hover {
        background: #fd926d;
        color: #fd926d;
        background-image: url("../images/scroll-arrow-right-sprite.png");
        background-position:-25px;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .left:hover {
        background: #fd926d;
        color: #fd926d;
        background-image: url("../images/scroll-arrow-left-sprite.png");
        background-position: -30px;
        background-repeat: no-repeat;
    }
    .article-slider {
        width: 100%;
        height: auto;
        background: #fd926d;
        margin: 15px auto;
        overflow: hidden;
    }
    .article-slider ul {
        text-align: center;
        vertical-align: middle;
    }
    .article-slider ul li {
        display: inline-block;
        width: 20%;
    }
    .article {
        position: relative;
        margin: 30px 0;
        height: 395px;
        width: 220px;
        text-align: center;
        background: #ffffff;
        transition: 0.3s linear;
    }
    .article:hover{
        box-shadow: 0 0 10px -2px #000000;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }
    .article img {
        width: 100%;
        height: 290px;
        display: block;
    }
    .article p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        color: #373737;
    }
    .article span {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.571em;
        color: #373737;
    }
    .article a {
        text-align: center;
        display: block;
        position: relative;
    }
    .article a:after {
        opacity: 0;
        content: '';
        position: absolute;
        background: url(../images/shop-it-img.png) 50% 50%;
        width: 134px;
        height: 134px;
        left: 50%;
        top: 50%;
        margin: -67px 0 0 -67px;
        transition: opacity 0.5s linear;
    }
    .article a:hover:after {
        opacity: 1;
    }
    .article a.cart:after {
        display: none;
    }
    .sale:before {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        content: "sale";
        background-image: url("../images/sale-ico.png");
        background-position: left top;
        background-repeat: no-repeat;
        text-indent: -9999px;
        z-index: 5;
    }
    .article .cart {
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: #fd926d;
        background-image: url("../images/search-button.png");
        background-repeat: no-repeat;
        background-position: 90% center;
        border-bottom: 3px solid #dd6b44;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -61px;
        font-size: 12px;
        padding:6px 29px 7px 10px;
    }
    .article .cart:hover {
        background-color: #dd6b44;
    }
    .article p, span, .cart {
        margin: 5px 0 10px 0;
    }
    .article-slider li:first-child {
        margin-left: -130px;
    }
    .article-slider li:last-child {
        margin-right: -170px;
    }
    .container hr {
        color: #d8d8d8;
        width: 100%;
        margin: 103px 0;
    }
    .clearance {
        padding: 0 15px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        margin: -185px 0 0 -94px;
    }
    .clearance-article {
        text-align: center;
        margin-top: -33px;
        margin-bottom: 38px;

    }
    .clearance-article li {
        text-align: center;
        display: inline-block;
        width: 24.5%;
    }
    .clearance-article .article {
        background-color: #f7f7f7;
    }
    .clearance-article .article .cart:hover {
        background-color: #dd6b44;
    }
    .clearance-article .article {
        position: relative;
    }
    .brands {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #ffffff;
        padding: 0 15px;
        margin: -18px 0 0 -91px;
        position: absolute;
        left: 50%;
        color: #414141;
    }
    .favorite-brands {
        width: 100%;
    }
    .favorite-brands li {
        display: inline-block;
        width: 12%;
        vertical-align: middle;
        margin: 12px 0;
    }
    h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.714em;
        color: #414141;
        font-weight: 100;
        padding-top: 21px;
    }
    .about {
        color: #999999;
        font-size: 1em;
        text-align: center;
        font-family: Arial, sans-serif;
        padding: 16px 0 27px 0;
    }
/* Finish Content */
/* Finish Main*/
/* Start Footer*/
    .accept {
        width: 100%;
        height: 58px;
        background-color: #f7f7f7;
    }
    .accept li {
        color: #414141;
        font-size:12px;
        font-family: Arial, sans-serif;
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
    }
    .accept ul {
        text-align: center;
        padding: 14px 0 0 0px;
        margin-left: -10px;
    }
    .paid-01 {
        background: url("../images/cards.png") 0 0 no-repeat;
    }
    .paid-02 {
        background: url("../images/cards.png") -45px 0 no-repeat;
    }
    .paid-03 {
        background: url("../images/cards.png") -88px 0 no-repeat;
    }
    .paid-04 {
        background: url("../images/cards.png") -132px 0 no-repeat;
    }
    .paid-05 {
        background: url("../images/cards.png") -177px 0 no-repeat;
    }
    .paid-06 {
        background: url("../images/cards.png") -221px 0 no-repeat;
    }
    .paid-07 {
        background: url("../images/cards.png") -265px 0 no-repeat;
    }
    .paid-08 {
        background: url("../images/cards.png") -309px 0 no-repeat;
    }
    .paid-09 {
        background: url("../images/cards.png") -353px 0 no-repeat;
    }
    .paid-10 {
        background: url("../images/cards.png") -397px 0 no-repeat;
    }
    .paid-11 {
        background: url("../images/cards.png") -442px 0 no-repeat;
    }
    .accept li a {
        display: inline-block;
        width: 35px;
        height: 22px;
        margin-top: 2px;
    }
    .info {
        width: 100%;
        height: auto;
        background-color : #ededed;
    }
    .info-list {
        display: inline;
        text-align: justify;
    }
    .info-list > li {
        display: inline-block;
        vertical-align: top;
        margin: 30px -13px 24px 62px;
    }
    .info .container >div{
        display: inline-block;
        right: 215px;
        margin: 30px 0px 0 72px;
    }
    .info a {
        color: #544f4d;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        text-decoration: none;
    }
    .info a:hover {
        color: #ffffff;
    }
    .info-title {
        margin-bottom: 10px;
        font-size: 1.143em;
        font-weight: bold;
        color: #544f4d;
        font-family: Arial, sans-serif;
    }
    .info .container {
        position: relative;
    }
    .secured {
        float: right;
        position: absolute;
        right: 62px;
        top: 50%;
        margin-top: -52.5px;
    }
    .social-info ul {
        padding: 5px 0 0px 0;
    }
    .social-info li {
        display: inline-block;
        padding: 0 7px 0 0;
    }
    .copy {
        width: 100%;
        height: 75px;
        background-color: #000000;
    }
    .copy a {
        color: #8d8d8d;
        font-family: Arial, sans-serif;
        font-size: 0.786em;
        text-decoration: none;
        padding: 0 3px 0 0;
    }
    .copy ul {
        text-align: left;
        padding: 28px 61px;
        display: inline-block;
    }
    .copy ul li {
        display: inline-block;
    }
    .copy ul li::after {
        content: "|";
        padding: 0 5px;
    }
    .copy ul li:last-child::after {
        content: "";

    }
    .copy .container div {
        float: right;
        padding: 19px 58px;
    }
    .copy .container div p {
        text-align: right;
        color: #8d8d8d;
        font-family: Arial, sans-serif;
        font-size: 0.786em;
        padding-right: 2px;
    }
    .load-more{
        display: none;
    }
/* Finish Footer*/
/* Finish Wrapper*/
}

@media screen and (max-width: 768px) and (min-width: 321px){

    /* Start Wrapper */
    #wrapper{
        min-width: 760px;
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    /* Start Header*/
    .top-panel{
        background: #000000;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 13px;
        height: 17px;
    }
    .top-panel p{
        float: left;
        font-size: 11px;
        margin: -7px 0 0 -5px   ;
    }
    .top-panel p span{
        font-size: 12px;
    }
    .top-panel ul li {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        border-right: 1px solid #444444;
        padding:10px 0 6px 0;
    }
    .top-panel ul {
        float: right;
        border-left: 1px solid #444444;
        margin: -17px -15px 0 0;

    }
    .top-panel .container ul li a {
        color: #ffffff;
        font-size: 11px;
        text-decoration: none;
        display: block;
        vertical-align: top;
    }
    .top-panel .currency a::after{
        content: ' ';
        background-image: url("../images/grey-arrow-down.png");
        width: 7px;
        height: 4px;
        float: right;
        margin: 7px 0 0 10px;
    }
    .top-panel img {
        padding:0 10px 0 9px;
        vertical-align: text-bottom;
    }
    .currency a{
        padding: 0px 14px 0 15px;
    }
    .account a{
        padding: 0 15px 0px 15px;
    }
    .account img{
        padding: 0px 5px 0 0px;
    }
    #header h1{
        text-indent: -9999px;
        overflow: hidden;
        float: left;
        display: block;
    }
    .logo{
        background: url("../images/logo.png")0 0 no-repeat;
        margin: 12px -5px;
        display: block;
    }
    .logo a {
        display: block;
        width: 120px;
        height: 28px;
    }
    nav{
        width: 100%;
        height: auto;
        padding: 30px 0;
        
    }
    nav ul{
        display: none;
        float: right;
        padding: 45px 0;
    }
    nav ul li{
        display: inline-block;
        padding-left: 30px;
        vertical-align: middle;
        position: relative;
    }
    nav ul a{
        color: #000000;
        text-decoration: none;
    }
    nav ul img{
        padding-left: 5px;
        vertical-align: middle;
    }
    nav ul a:hover{
        color: #d6d6d6;
        text-decoration: none;
    }
    nav table{
        float: right;
        margin: -9px -15px 0 0;
    }
    nav tr {
        width: 212px;
        height: 30px;
        border: 1px solid #d6d6d6;
    }
    .cart input{
        padding:0px 59px 0px 7px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        border: 0;
        height: 31px;
        background: url("../images/grey-arrow-down.png") 95% 50% no-repeat;
    }
    .basket{
        text-align: right;
        font-size: 12px;
        background-color: #fafafa;
        background-image: url("../images/mini-bag.png");
        background-position: 5% center;
        background-repeat: no-repeat;
        padding: 7px 0;
    }
    .basket a{
        color: #d6d6d6;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 0px 12px
    }
    .basket a:hover{
        color: #d6d6d6;
        text-decoration: none;
    }
    .menu{
        font-size: 18px;
        width: 98%;
        background-color: #fd926d;
        color: #ffffff;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        padding: 0 17px;
        overflow: hidden;
        margin: 78px 0 0 -4px;
        display: block;
        background-image: url("../images/bg-menu.png");
        background-repeat: no-repeat;
        background-position: 97.5% center;
    }
    .menu a{
        float: left;
        color: #ffffff;
        text-decoration: none;
        padding: 15px 672px 15px 0px;
    }
    /* Finish Header*/
    /* Start Main*/
    /*Slider*/
    #slider input {
        display: none;
    }
    #slide1:checked ~ #slides .inner { margin-left:0; }
    #slide2:checked ~ #slides .inner { margin-left:-100%; }
    #slide3:checked ~ #slides .inner { margin-left:-200%; }
    #slide4:checked ~ #slides .inner { margin-left:-300%; }
    #slide5:checked ~ #slides .inner { margin-left:-400%; }

    #overflow {
        width: 100%;
        overflow: hidden;
    }
    article img {
        width: 100%;
        height: 351px;
    }
    #slides .inner {
        width: 500%;
        line-height: 0;
    }
    #slides article {
        height: 351px;
        width: 20%;
        float: left;
    }
    /* Slider Styling */
    /* Control Setup */
    #controls {
        margin: -25% 0 0 0;
        width: 100%;
        height: 50px;
    }
    #controls label {
        display: none;
        width: 50px;
        height: 50px;
        opacity: 0.3;
    }
    #active {
        margin: 20.6% 0 19px 12px;
        text-align: center;
    }
    #active label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #867a76;
        margin: 0 8px;
    }
    #active label:hover {
        background: #ccc;
        border-color: #777 !important;
    }
    #controls label:hover {
        opacity: 0.8;
    }
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(1) {
        width: 30px;
        height: 117px;
        background-image: url('../images/arr-right.png');
        background-color: #fefefd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: right;
        display: block;
        margin: -42px 0 0 0;
    }
    #slide1:checked ~ #controls label:nth-child(5),
    #slide2:checked ~ #controls label:nth-child(1),
    #slide3:checked ~ #controls label:nth-child(2),
    #slide4:checked ~ #controls label:nth-child(3),
    #slide5:checked ~ #controls label:nth-child(4) {
        width: 30px;
        height: 117px;
        background-image: url('../images/arr-left.png');
        background-color: #fefefd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: left;
        display: block;
        margin: -41px 0 0 0px;
    }
    #slide1:checked ~ #active label:nth-child(1),
    #slide2:checked ~ #active label:nth-child(2),
    #slide3:checked ~ #active label:nth-child(3),
    #slide4:checked ~ #active label:nth-child(4),
    #slide5:checked ~ #active label:nth-child(5) {
        background: #fd926d;
        border-color: #fd926d !important;
    }
    /* Slider Styling */
    #slides {
        margin: -13px  0 0 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 0;
        background: #fff;
    }
    /* Animation */
    #slides .inner {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
        -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    }
    #slider {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    #controls label{
        -webkit-transform: translateZ(0);
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
    }
    #slide1:checked ~ #slides article:nth-child(1) .info,
    #slide2:checked ~ #slides article:nth-child(2) .info,
    #slide3:checked ~ #slides article:nth-child(3) .info,
    #slide4:checked ~ #slides article:nth-child(4) .info,
    #slide5:checked ~ #slides article:nth-child(5) .info {
        opacity: 1;
        -webkit-transition: all 1s ease-out 0.6s;
        -moz-transition: all 1s ease-out 0.6s;
        -o-transition: all 1s ease-out 0.6s;
        transition: all 1s ease-out 0.6s;
    }
    .info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    /*Finish slider*/
    /* Start Content*/
    .content-panel{
        width: 100%;
        height: 55px;
        background: #ededed;
    }
    .search{
        display: inline-block;
        margin: 12px 0;
    }
    .search input{
        width: 123px;
        height: 27px;
        font-size: 12px;
        padding-left: 8px;
        font-style: italic;
    }
    .search label{
        color: #6b6b6b;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding-right: 3px;
        margin: 0 0 0px -7px;
    }
    .search a{
        display: inline-block;
        background-image: url("../images/search-button.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fd926d;
        width: 26px;
        height: 26px;
        text-indent: -9999px;
        border-bottom: 3px solid #dd6b44;
        vertical-align: middle;
    }
    .search a:hover{
        background-color: #dd6b44;
    }
    .content-panel .social{
        float: right;
    }
    .content-panel .social li {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 12px;
        padding: 0 0 0 13px;
        margin: 0 -15px 0 0;
    }
    .content-panel .social li:first-child{
        padding-right: 20px;
    }
    .content-panel .social li a{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 55px;
        height: 55px;
        text-indent: -9999px;
    }
    .facebook{
        background-image: url("../images/facebook-logo.png");
        background-repeat: no-repeat;
        background-position: 19px 18px;
        background-color: #f7f7f7;
        margin: 0;
    }
    .twitter{
        background-image: url("../images/twitter-logo.png");
        background-repeat: no-repeat;
        background-position: 16px 19px;
        background-color: #ededed;
    }
    .pinterest{
        background-image: url("../images/pinterest-logo.png");
        background-repeat: no-repeat;
        background-position: 16px 16px;
        background-color: #f7f7f7;
    }
    .content-panel .social li a:hover{
        background-color: #ffffff;
    }

    .gallery{
        margin: 33px 0 32px -3px;
        width: 102.5%;
    }
    .gallery >div{
        display: inline-block;
        margin: 0 0 ;
    }
    .gallery-01{
        width: 50%;
        float: left;
    }
    .gallery-01 a{
        margin: 0;
        padding: 0;
    }
    .gallery-01 a img{
        width:100%;
        height: auto;
    }
    .gallery-02{
        width: 50%;
        float: left;
    }
    .gallery-02 a{
        margin: 0;
        padding: 0;
    }
    .gallery-02 a img {
        width: 100%;
        height: auto;
    }

    .gallery-03{
        width: 25%;
        float: left;
    }
    .gallery-03 a{
        margin: 0;
        padding: 0;
    }
    .gallery-03 a img {
        width: 100%;
        height: auto;
        margin-top: -4px;
    }
    .gallery-04{
        width: 25%;
        float: left;
    }
    .gallery-04 a{
        margin: 0;
        padding: 0;
    }
    .gallery-04 a img {
        width: 100%;
        height: auto;
        margin-top: -4px;
    }
    .content-panel .roulette {
        float: left;
        margin-top: 45px;
        margin-left: -4px;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .content-panel .roulette li{
        display: inline-block;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .content-panel .roulette li a{
        padding: 16px 13px 16px 20px;
        -moz-padding-bottom:15px;
        -webkit-padding-bottom: 15px;
        background-color: #ffffff;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #555555;
    }
    .content-panel .roulette li a:hover {
        -moz-padding-bottom:15px;
        -webkit-padding-bottom: 15px;
        background: #fd926d;
        color: #ffffff;
    }

    .content-panel .scroll{
        float: right;
        margin-top: 45px;
        margin-right: -13px;
        display: block;

    }
    .content-panel .scroll li{
        display: inline-block;
    }
    .content-panel .scroll li a{
        padding: 16px 24px 16px 23px;
        moz-padding-after: 16px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        background-color: #f2f2f2;
    }
    .content-panel .scroll li .left{
        background-image: url("../images/scroll-arrow-left-sprite.png");
        background-position: 6px 6px ;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .right{
        background-image: url("../images/scroll-arrow-right-sprite.png") ;
        background-position: 9px 6px;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .right:hover{
        background: #fd926d;
        color: #fd926d;
        background-image: url("../images/scroll-arrow-right-sprite.png");
        background-position: -27px 6px;
        background-repeat: no-repeat;
    }
    .content-panel .scroll li .left:hover{
        background: #fd926d;
        color: #fd926d;
        background-image: url("../images/scroll-arrow-left-sprite.png");
        background-position: -30px 6px;
        background-repeat: no-repeat;
    }
    .article-slider{
        width: 100%;
        height: auto;
        background: #fd926d;
        margin: 15px auto;
        overflow: hidden;
    }
    .article-slider ul{
        text-align: center;
        vertical-align: middle;
    }
    .article-slider ul li{
        display: inline-block;
        width: 30%;
        padding: 0 1%;
    }
    .article-slider ul li:first-child {
        display: none;
    }
    .article-slider ul li:last-child {
        display: none;
    }
    .article-slider ul li:nth-child(5){
        display: none;
    }
    .article{
        position: relative;
        display: inline-block;
        margin: 30px 5px;
        height: 395px;
        width: 220px;
        text-align: center;
        background: #ffffff;
    }
    .article:hover{
        box-shadow: 0 0 10px -2px #000000;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }
    .article img{
        width: 100%;
        height: 290px;
    }
    .article p{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        color:#373737;
    }
    .article span{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.571em;
        color:#373737;
    }
    .article a{
        text-align: center ;
    }
    .sale:before{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        content:"sale";
        background-image: url("../images/sale-ico.png");
        background-position: left top;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    .article .cart{
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: #fd926d;
        background-image: url("../images/search-button.png");
        background-repeat: no-repeat;
        background-position: 90% center;
        border-bottom: 3px solid #dd6b44;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -61px;
        font-size: 12px;
        padding: 6px 29px 7px 10px;
    }

    .article .cart:hover{
        background-color: #dd6b44;
    }
    .article p, span, .cart{
        margin: 5px 0 10px 0;
    }
    .article-slider li:first-child{
        margin-left: -130px;
    }
    .article-slider li:last-child{
        margin-right: -170px;
    }
    .container hr{
        color: #d8d8d8;
        width: 100%;
        margin: 102px 0;
    }
    .clearance{
        padding: 0 15px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        margin:-184px 0 0 -89px;
    }
    .clearance-article{
        text-align: center;
        margin-top: -32px;
    }
    .clearance-article li{
        text-align: center;
        display: inline-block;
        width: 30.5%;
        padding: 0 1.2%;
    }
    .clearance-article li:last-child{
        display: none;
    }
    .clearance-article .article{
        background-color: #f7f7f7;
    }
    .clearance-article .article .cart:hover{
        background-color: #dd6b44;
    }
    .clearance-article .article{
        position: relative;
    }
    .brands{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #ffffff;
        padding: 0 15px;
        margin: -18px 0 0 -86px;
        position: absolute;
        left: 50%;
        color: #414141;
    }
    #content>hr{
        margin-top: 13px;
    }
    .favorite-brands{
        text-align: center;
        width: 100%;
        margin: 12px 0 0 -13px;
    }
    .favorite-brands li{
        display: inline-block;
        width: 15%;
        vertical-align: middle;
        margin: 1% 0;
    }
    .favorite-brands li:nth-child(7){
        display: none;
    }
    .favorite-brands li:nth-child(8){
        display: none;
    }
    h2{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: 100;
        color: #414141;
        padding:20px 0 0 9px;
    }
    .about{
        color: #999999;
        font-size: 14px;
        text-align: center;
        font-family: Arial, sans-serif;
        padding: 15px 0px 9px 0;
    }
    /* Finish Content */
    /* Finish Main*/

    /* Start Footer*/
    .accept{
        width: 100%;
        height: 58px;
        background-color: #f7f7f7;
    }
    .accept li {
        color: #414141;
        font-size:12px;
        font-family: Arial, sans-serif;
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
    }
    .accept ul {
        text-align: center;
        padding: 14px 0 0 0px;
        margin:4px 0 0 -5px;
    }
    .paid-01{
        background: url("../images/cards.png") 0 0 no-repeat;
    }
    .paid-02{
        background: url("../images/cards.png") -45px  0 no-repeat;
    }
    .paid-03{
        background: url("../images/cards.png") -88px 0 no-repeat;
    }
    .paid-04{
        background: url("../images/cards.png") -132px 0 no-repeat;
    }
    .paid-05{
        background: url("../images/cards.png") -177px 0 no-repeat;
    }
    .paid-06{
        background: url("../images/cards.png") -221px 0 no-repeat;
    }
    .paid-07{
        background: url("../images/cards.png") -265px 0 no-repeat;
    }
    .paid-08{
        background: url("../images/cards.png") -309px 0 no-repeat;
    }
    .paid-09{
        background: url("../images/cards.png") -353px 0 no-repeat;
    }
    .paid-10{
        background: url("../images/cards.png") -397px 0 no-repeat;
    }
    .paid-11{
        background: url("../images/cards.png") -442px 0 no-repeat;
    }
    .accept li a{
        display: inline-block;
        width:35px;
        height: 22px;
    }
    .info{
        width: 100%;
        height: 346px;
        background-color: #ededed;
        position: relative;
    }
    .info-list{
        width: 330px;
        text-align: justify;
    }
    .info-list>li{
        display: inline-block;
        vertical-align: top;
        margin: 30px 38px 4px -4px;
    }
    .info-list li ul li{
        line-height: 17px;
    }
    .info .container >div{
        display: inline-block;
        right: 215px;
        margin: 30px 65px 0 0;
    }
    .info a{
        color: #544f4d;
        font-family: Arial, sans-serif;
        font-size: 0.857em;
        text-decoration: none;
    }
    .info a:hover{
        color: #ffffff;
    }
    .info-title{
        margin-bottom: 12px;
        font-size: 1.143em;
        font-weight: bold;
        color: #544f4d;
        font-family: Arial, sans-serif;
    }
    .info .container >.social-info{
        position: absolute;
        top: 0px;
        right: 113px;
    }
    .info .container{
        position: relative;
    }
    .stories{
        padding: 0 0 0 19px;
    }
    .secured{
        float: right;
        position: absolute;
        top: 48px;
        right: 16px;
    }
    .social-info ul {
        padding: 5px 0 0px 0;
    }
    .social-info li {
        display: inline-block;
        padding: 0 7px 0 0;
    }
    .copy {
        width: 100%;
        height: 75px;
        background-color: #000000;
        position: relative;
    }
    .copy a {
        color: #8d8d8d;
        font-family: Arial, sans-serif;
        font-size: 0.786em;
        text-decoration: none;
        padding: 0 2px 0 0;
    }
    .copy ul {
        text-align: left;
        margin: 25px 0 0px -5px;
        display: inline-block;
    }
    .copy ul li {
        display: inline-block;
    }
    .copy ul li::after {
        content: "|";
        padding: 0 5px;
    }
    .copy ul li:last-child::after {
        content: "";

    }
    .copy .container div {
        float: right;
        position: absolute;
        right: 3px;
        top: 16px;
    }
    .copy .container div p {
        text-align: right;
        color: #8d8d8d;
        font-family: Arial, sans-serif;
        font-size: 0.786em;
        padding-right: 2px;
    }
    .load-more{
        display: none;
    }
    /* Finish Footer*/
    /* Finish Wrapper*/

}

@media  screen and (max-width: 320px){
    /* Start Wrapper */
    #wrapper{
        min-width: 320px;
    }
    .container{
        width:100%;
        margin: 0 auto;
    }
    /* Start Header*/
    .top-panel{
        background: #000000;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 13px;
        height: 30px;
    }
    .top-panel p{
        float: left;
        color:#838383;
        padding: 16px 56px 15px 59px;
        font-size: 15px;
        background: #fafafa;
        margin: -13px 0 0 0 ;
    }
    .top-panel  ul li{
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 15px;
        border-right: 1px solid #444444;
    }
    .top-panel ul{
        float: right;
        border-left: 1px solid #444444;
        background: #000000;
        width: 100%;
    }
    .top-panel .currency {
        padding: 16px 30px 14px 14px;
    }
    .top-panel .container ul li a{
        color: #ffffff;
        text-decoration: none;
        display: block;
    }
    #account a{
        padding: 16px 28px 14px 34px;
    }
    .top-panel .container ul #account a img{
        padding: 0px 9px 0px 0px;
    }
    .top-panel .container ul li a>img{
        padding:0px 20px 0px 14px;
    }
    #header h1{
        text-indent: -9999px;
        overflow: hidden;
        float: left;
        display: block;
    }
    .logo{
        background: url("../images/logo-small'.png")0 0 no-repeat;
        display: block;
        margin: 25px 0 0 71px;
    }
    .logo a {
        display: block;
        width: 180px;
        height: 43px;
    }
    nav{
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
    nav ul{
        display: none;
        float: right;
        padding: 45px 0;
    }
    nav ul li{
        display: inline-block;
        padding-left: 30px;
        vertical-align: middle;
        position: relative;
    }
    nav ul a{
        color: #000000;
        text-decoration: none;
    }
    nav ul img{
        padding-left: 5px;
        vertical-align: middle;
    }
    nav ul a:hover{
        color: #d6d6d6;
        text-decoration: none;
    }
    nav table{
        margin: 123px 8px 0 8px;
    }
    nav tr {
        width: 212px;
        height: 0px;
        border: 1px solid #d6d6d6;
    }
     nav .cart{
        display: none;
    }
    .basket{
        text-align: right;
        width: 305px;
        height: 46px;
        font-size: 15.01px;
        background-color: #fafafa;
        background-image: url("../images/mini-bag.png");
        background-position: 5% center;
        background-repeat: no-repeat;
    }
    .basket a{
        color: #949393;
        font-family: Arial, sans-serif;
        font-size: 15.01px;
        padding: 0px 12px
    }
    .basket a:hover{
        color: #d6d6d6;
        text-decoration: none;
    }
    .menu{
        font-size: 15.01px;
        width: 88%;
        background-color: #fd926d;
        color: #ffffff;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
        padding: 0px 9px 0 15px;
        margin: 11px 0px 0px 7px;
        display: block;
        background-image: url("../images/bg-menu-small.png");
        background-repeat: no-repeat;
        background-position: 94.5% center;
    }
    .menu a{
        float: left;
        color: #ffffff;
        text-decoration: none;
        padding: 15px 672px 15px 0px;
    }
    /* Finish Header*/
    /* Start Main*/
    /*Slider*/
    #slider {
        display: none;
    }
    /*Finish slider*/
    /* Start Content*/
    .content-panel{
        width: 100%;
        height: 55px;
    }
    .search{
        margin: -18px 0 0 7px;
    }
    .search label{
        display: none;
    }
    .search input{
        width: 245px;
        height: 49px;
        padding-left: 12px;
        font-style: italic;
        border: 0px;
        border-radius:0px ;
        font-size: 15.01px;
        background: #ededed;
    }
    .search a{
        display: inline-block;
        background-image: url("../images/search-button-small.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fd926d;
        width: 49px;
        height: 46px;
        text-indent: -9999px;
        border-bottom: 4px solid #dd6b44;
        vertical-align: middle;
    }
    .search a:hover{
        background-color: #dd6b44;
    }
    .content-panel .social{
        margin: 10px 0 0 34px;
    }
    .content-panel .social li {
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 13.01px;
        padding: 0 0 0 13px;
        margin: 0 -15px 0 0;
    }
    .content-panel .social li:first-child{
        padding-right: 20px;
    }
    .content-panel .social li a{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 46px;
        height: 46px;
        text-indent: -9999px;
    }
    .facebook{
        background-image: url("../images/facebook-logo-small.png");
        background-repeat: no-repeat;
        background-position: 18px 16px;
        background-color: #f7f7f7;
        margin: 0;
    }
    .twitter{
        background-image: url("../images/twitter-logo-small.png");
        background-repeat: no-repeat;
        background-position: 14px 17px;
        background-color: #ededed;
    }
    .pinterest{
        background-image: url("../images/pinterest-logo-small.png");
        background-repeat: no-repeat;
        background-position: 13px 15px;
        background-color: #f7f7f7;
    }
    .content-panel .social li a:hover{
        background-color: #ffffff;
    }
    .gallery{
       display: none;
    }
    .content-panel .roulette {
        float: left;
        margin-top: 26px;
        margin-left: -4px;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .content-panel .roulette li{
        display:none;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    .article-slider-panel .roulette .small-menu{
        display: block;
    }
    .content-panel .roulette li a{
        padding: 12px 202px 16px 20px;
        -moz-padding-bottom:15px;
        -webkit-padding-bottom: 15px;
        background-color: #f4845d;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #ffffff;
        background-image: url("../images/white-rrow-down.png");
        background-repeat: no-repeat;
        background-position: 298px 18px;
    }
    .content-panel .scroll{
        display: none
    }
    .article-slider{
        width: 100%;
        height: auto;
        background: #fd926d;
        margin:0 auto;
        overflow: hidden;
        padding-bottom: 10px;
    }
    .article-slider ul{
        text-align: center;
        vertical-align: middle;
    }
    .article-slider ul li{
        display: inline-block;
        width: 45%;
        padding: 0 1%;
    }
    .article-slider ul li:first-child {
        display: none;
    }
    .article-slider ul li:last-child {
        display: none;
    }
    .article-slider ul li:nth-child(2){
        display: none;
    }
    .article-slider ul li:nth-child(5){
        display: none;
    }
    .article{
        position: relative;
        display: inline-block;
        margin: 30px 5px;
        height: 262px;
        width: 137px;
        text-align: center;
        background: #ffffff;
    }
    .article:hover{
        box-shadow: 0 0 10px -2px #000000;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }
    .article img{
        width: 100%;
        height: 182px;
    }
    .article p{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 9px;
        color:#373737;
    }
    .article span{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 13.75px;
        color:#373737;
    }
    .sale:before{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        content:"sale";
        background-image: url("../images/sale-ico.png");
        background-position: left top;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    .article .cart{
        text-align: center ;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: #fd926d;
        background-image: url("../images/search-button.png");
        background-repeat: no-repeat;
        background-position: 90% center;
        border-bottom: 3px solid #dd6b44;
        position: absolute;
        bottom: 3px;
        left: 54%;
        margin-left: -61px;
        font-size: 10px;
        padding: 6px 29px 7px 10px;
    }
    .article .cart:hover{
        background-color: #dd6b44;
    }
    .article p, span, .cart{
        margin: -7px 0px 6px;
    }
    .article-slider li:first-child{
        margin-left: -130px;
    }
    .article-slider li:last-child{
        margin-right: -170px;
    }
    .article-slider .load-more{
        margin: -27px 0 0 104px;
    }
    .load-more{
        text-align: center ;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: #ffffff;
        font-size: 10px;
        text-decoration: none;
        background-color: #000000;
        padding: 6px 22px 5px 26px;

        display: inline-block;
    }
    .container hr{
        color: #d8d8d8;
        width: 100%;
        margin: 102px 0;
    }
    .clearance{
        padding: 0 15px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        margin:-184px 0 0 -89px;
    }
    .clearance-article{
        text-align: center;
        margin-top: -32px;
    }
    .clearance-article li{
        text-align: center;
        display: inline-block;
        width: 45%;
        padding: 0 1.2%;
    }
    .clearance-article li:last-child{
        display: none;
    }
    .clearance-article  li:nth-child(2){
        display: none;
    }
    .clearance-article .article{
        background-color: #f7f7f7;
    }
    .clearance-article .article .cart:hover{
        background-color: #dd6b44;
    }
    .clearance-article .article{
        position: relative;
    }
    .brands{
        display: none;
    }
    #content>hr{
        display: none;
    }
    .favorite-brands{
        display: none;
    }
    h2{
        display: none;
    }
    .about{
        display: none;
    }
    #content .container .load-more{
         margin: -38px 0px 0px 104px;
    }
    /* Finish Content */
    /* Finish Main*/

    /* Start Footer*/
    .accept{
        display: none;
    }
    .info{
        display: none;
    }
    .copy {
        background-image: url("../images/bg-menu-small.png");
        background-repeat: no-repeat;
        background-position:17px center;
        width: 100%;
        height: 55px;
        background-color: #000000;
        position: relative;
    }
    .copy ul {
        display: none;
    }
    .copy .container div {
        float: right;
        position: absolute;
        right: 3px;
        top: 16px;
    }
    .copy .container div p {
        text-align: right;
        color: #8d8d8d;
        font-family: Arial, sans-serif;
        font-size: 0.786em;
        padding-right: 2px;
    }
    /* Finish Footer*/
    /* Finish Wrapper*/
}

