.container {
  background: #555555;
}
.container a {
  font-family: "Aller", Arial, sans-serif;
}
.container a span {
  color: #fd926d;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
